@charset "UTF-8";
/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body */
body {
    background-color: #f7f3f0; /* 淡い背景色 */
    color: #333;
    line-height: 1.6;
    max-width: 860px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 40px;
}
header h1 {
    font-size: 2.5em;
    color: #d49ea0;
}
header nav ul {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
}
header nav ul li {
    margin: 0 15px;
}
header nav ul li a {
    color: #d49ea0;
    text-decoration: none;
}

/* About Section */
#about, #portfolio, #other-side, #contact {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #b88c9e;
    margin-bottom: 10px;
}

#about, #contact p {
    font-size: small;
}

.sns {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.sns img {
    height: 30px;
    margin-right: 20px;
}

#logo-x {
    height: 25px;
    margin-right: 15px;
}

.sns img:hover {
    transform: translateY(-5px);
}

/* Gallery */
.gallery {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.work {
    /*
    flex: 1 1 30%; */
    height: 180px;
    align-items: center;
    justify-content: center;     
    list-style-type: none;
    padding: 20px;
}

.work img {
    width: 180px;
    border-radius: 10px;
}

a.no-color-change:link,
a.no-color-change:visited,
a.no-color-change:hover,
a.no-color-change:active {
    color: #b8376d;
    text-decoration: none;
    
}

/* Contact Form */
form label {
    display: block;
    margin: 10px 0 5px;
    color: #7d5f67;
}
form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
button[type="submit"] {
    background-color: #d49ea0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #b88c9e;
}
